.opcoes-disponiveis::after{
    display: table;
    clear: both;
    content: "";
}

.train-option{
    margin-right: 20px;
    background: purple;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    float: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.drop-zone-guitar{
    height: 300px;
    width: 100%;
    border: 1px purple solid;
}

.table-guitar-drops th{
    width: 150px;
    text-align: center;
}

.table-guitar-drops td .train-option{
    width: 100%;
    font-size: 11px;
    text-align: center;
    float: none;
    min-height: 58px;
    line-height: 18px;
}

.drop-here{
    max-width: 138px;
    height: 400px;
    border: 1px purple solid;
    
}

.delete-item{
    background: red;
    text-align: center;
    padding: 10px;
}

.delete-item svg{
    width: 60px;
    height: 60px;
    fill: #fff;
}

.delete-item span{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    font-size: 35px;
    font-weight: 600;
}
