.opcoes-disponiveis::after{
    display: table;
    clear: both;
    content: "";
}

.train-option{
    margin-right: 20px;
    background: purple;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    float: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.drop-zone-guitar{
    height: 300px;
    width: 100%;
    border: 1px purple solid;
}

.table-guitar-drops th, .table-listagem th{
    width: 150px;
    text-align: center;
}

.table-guitar-drops td .train-option, .table-listagem td .train-option{
    width: 100%;
    font-size: 11px;
    text-align: center;
    float: none;
    min-height: 58px;
    line-height: 18px;
}

.drop-here, .list-week{
    max-width: 138px;
    height: 400px;
    border: 1px purple solid;
    
}

.list-week{
    height: initial;
    border: none;
}

.delete-item{
    background: red;
    text-align: center;
    padding: 10px;
}

.delete-item svg{
    width: 60px;
    height: 60px;
    fill: #fff;
}

.delete-item span{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    font-size: 35px;
    font-weight: 600;
}


[name="nome-registro"]{
    border: 2px red solid;
    text-align: center;
}

[name="nome-registro"]::placeholder{
    font-weight: bold;
    text-align: center;
}

.navbar-dark .navbar-brand{
    font-size: 51px;
    text-transform: uppercase; 
    font-weight: 600;
    font-family: 'New Rocker', cursive;
    margin-bottom: 20px;
} 
.navbar-brand {
    position: relative;
}
.navbar-brand .sub-title{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: -8px;
    font-size: 13px;
    left: 82px;
}

.navbar-dark .navbar-brand svg{
    width: 70px;
    height: 70px;
    position: relative;
    top: 28px;
}
